<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<p align="center">
      <fieldset id="" style="width: 30%;">
			<legend align="center">Dont have an account? Register one!</legend>

            <form action="/checkusername" method = "post">
                <p align="center">
            username : <input type="text" name="username"> <br>
                </p>
                <p align="center">
            <input type="submit" name="submit" value="Check Your Name Avaliable">
                </p>
            </form>

            <form action = "/register" method = "post">

            <p align="center">
            username : <input type="text" name="username"> <br>
            </p>
            <p align="center">
            password : <input type="text" name="password"> <br>
            </p>
            <p align="center">
            email : <input type="text" name="email"> <br>
            </p>
            <p align="center">
            phone : <input type="text" name="phone"> <br>
            </p>
            <p align="center">
            state : <input type="text" name="state"> <br>
            </p>
            <p align="center">
            zip : <input type="text" name="zip"> <br>
            </p>
            <p align="center">
            street : <input type="text" name="street"> <br>
            </p>
            <p align="center">
            <input type="submit" name="submit" value="submit">
            </p>
        </form>
    </fieldset>

    </p>


</body>
</html>