<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

     <div align="center" style="width: 800px; margin: 20px auto">
            book_id: {{result.bookId}}<br/>
            book_name:{{result.bookName}}<br/>
            book_price:{{result.bookPrice}}<br/>
            book_vip_price:{{ result.vipPrice }}<br/>
            book_number: {{ result.storageNum }}
{#         <p align="center">#}
{#             <a href="/addChart?bookId={{data.bookId}}">Add to Cart</a>#}
{#         </p>#}

     </div>



</body>
</html>