<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Inn BookStore</title>
</head>
<body>

    <div align="center">

    <form action="/customerSearch" method="post">
            <p align="center">
            Search For BookName: <input type="text" name="bookName" placeholder="Please enter the book name">
            <input type="submit" value="Search">
            </p>
    </form>
        <a href="#">check your shop cart</a>
      </div>

    <hr>
{#        <div align="center">#}
{#            book_id: {{result.bookId}}<br/>#}
{#            book_name:{{result.bookName}}<br/>#}
{#            book_price:{{result.bookPrice}}<br/>#}
{#            book_vip_price:{{ result.vipPrice }}<br/>#}
{#            book_number: {{ result.storageNum }}#}
{#        </div>#}


{#            {{ result }}#}
{#        {{% for data in result %}}#}
{##}
{#        {{% endfor %}}#}






</body>
</html>