<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Inn BookStore</title>
</head>
<body>
    <p align="center">
      <fieldset id="" style="width: 26%;">
			<legend align="center">Login In</legend>



			<!-- #表述当前页面 -->
			<form action="/customerlogin" method="post">
				<!-- get 表单信息以“明文”方式发送，网址长度不能超过2048个字符，发送非安全数据 -->
				<!-- post 表单信息包含在HTTP请求正文中，不在网址上显示。没有大小限制，可发送大量数据。发送敏感信息、个人信息；文件上传等 -->
				<p>
					username: <input type="text" name="username" placeholder="Please Enter Your Username" />
				</p>
				<p>
					password: <input type="password" name="password" >
				</p>

				<p align="center">
				<input type="submit" name="submit" value="Login" />
				</p>
				<p align="center">
				<input type="reset" value="Cancel" />
				</p>
				<a href="/customerRegister">Don't have an account? Click here to register</a>

			</form>
		</fieldset>

    </p>

</body>
</html>